.sector-grid {
  .more {
    transition: all 0.2s;
    opacity: 0;
    margin-top: -30px;
  }
  a:hover .more {
    opacity: 1;
    margin-top: 10px;
  }
  img {
    transition: all 0.2s ease;
  }
  a:hover img {
    transform: scale(1.1);
  }
  a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    transition: all 0.2s ease;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 11%,
      #000000 56%,
      rgba(23, 0, 23, 0) 100%
    );
  }
  a:hover::after {
    opacity: 0.25;
  }
  &_odd-row {
    display: inline-flex;
    flex-flow: column;
    width: 100%;
    a {
      height: 100%;
      min-height: 20vh;
    }
    @media (min-width: theme('screens.sm')) {
      display: grid;
      grid-template-columns: 40% 30% 30%;
      grid-template-rows: 50% 50%;
      height: 500px;
      a {
        height: auto;
      }
      & a:first-child,
      & a:last-child {
        grid-row: 1/3;
      }
      & a:first-child {
        grid-column: 1/2;
      }
      & a:last-child {
        grid-column: 3/4;
      }
      & a:nth-child(2),
      & a:nth-child(3) {
        grid-column: 2/3;
        .content {
          width: 100%;
        }
      }
      & a:nth-child(2) {
        grid-row: 1/2;
      }
      & a:nth-child(3) {
        grid-row: 2/3;
      }
    }
  }
  &_even-row {
    display: inline-flex;
    flex-flow: column;
    width: 100%;
    a {
      height: 100%;
      min-height: 20vh;
    }
    @media (min-width: theme('screens.sm')) {
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: 100%;
      height: 250px;
      & a:first-child {
        grid-column: 1/2;
      }
      & a:last-child {
        grid-column: 2/3;
      }
    }
  }
}
