{% extends "layouts/base.twig" %}

{% block content %}
	<section class="bg-purple-lightest z-0">
		<div class="max-w-6xl mx-auto p-16 rounded-xl shadow-2xl bg-white">
			{{post.content}}
		</div>
	</section>
{% endblock %}
