{% extends "layouts/base.twig" %}

{% set page = post.get_field('json_data')|json_decode %}

{% block content %}
    <div class="py-15 bg-light-grey">
        <div class="container">
             <div class="row my-5 justify-content-center mx-650 mx-auto">
                <h1 class="text-center text_blue">Preguntas frecuentes</h1>
                <p class="text-center font-25">Easygoband ofrece soluciones que se adaptan a la logica del negocio,medios de pago cashless, reportes y metricas de los usuarios, control de accesos y otras funcionalidades para incrementar ingresos, reducir fraude y mejorar operativas</p>
             </div>
            
            <div class="row my-5 justify-content-center">
                <div class="col-md-6">
                    <h2 class="text_blue">Gofun</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapseOne">¿Qué es Gofun?</a></h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                <p>Es el producto de Easygoband que digitaliza el sector del ocio y del entretenimiento (festivales de música, eventos gastronómicos, food truck y recintos deportivos) con tecnología NFC que ofrece una nueva y eficiente gestión tecnológica mientras mejora la experiencia de los usuarios. Dando lugar a control de accesos y aforos, flexibilidad en los pagos cashless y contactless además del business intelligence (big data) con los que aumentarás los ingresos de tu negocio.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseOne">¿Necesita mi negocio Gofun?</a></h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Gofun está diseñado y desarrollado para todo tipo de eventos, recintos, torneos deportivos, festivales, conciertos, markets, ferias, e-sports y muchos más. Si estás buscando mejorar la eficiencia, la seguridad y aumentar los ingresos de tu negocio, Gofun es lo que necesitas para conseguirlo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapseOne">¿Cómo se realizan los pagos con la solución Gofun?</a></h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Los pagos de los usuarios son pagos cashless y contactless que se realizan mediante pulseras NFC, tarjeta bancaria y con el móvil, eliminando por completo el cash y sus problemas asociados. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseOne">¿Se cuenta con soporte durante el evento?</a></h4>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Nos encargamos de todas las necesidades para llevar a cabo el evento y ofrecemos soporte técnico durante el mismo si así lo necesitas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapseOne">¿Necesitan preparación los trabajadores?</a></h4>
                            </div>
                            <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                <p>Formamos a tu equipo durante los primeros días para que puedas gestionarlo de forma autónoma, además configuramos el sistema adaptándolo a tus necesidades.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">Goguest</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapseOne">¿Qué es la plataforma Goguest?</a></h4>
                            </div>
                            <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>La plataforma Goguest es un sistema que conecta todos los software y hardware de tu hotel o parque para digitalizar todas las áreas de tu negocio, ofreciendo múltiples funcionalidades mediante una solución única, adaptable y escalable a las nuevas necesidades tecnológicas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapseOne">¿Por qué necesito Goguest?</a></h4>
                            </div>
                            <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Si tu negocio está en el sector hospitality y lo que buscas es un sistema fácil de usar y donde lo tengas todo bajo control mediante una única plataforma, Goguest es lo que necesitas. Aumentarás la seguridad, la eficiencia y los ingresos además de ofrecer una experiencia inmejorable a tus clientes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapseOne">¿Es compatible con mi PMS y otros sistemas?</a></h4>
                            </div>
                            <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Sí, Goguest se integra ágilmente con todos los PMS, POS, cerraduras y demás sistemas del negocio, no requiere de ningún cambio. La plataforma cuenta con una comunicación directa con los otros software trasladando la información que necesitan y solicitando la que se requiere.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapseOne">¿Me serviría mi hardware actual?</a></h4>
                            </div>
                            <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Sí, no tendrás que cambiar nada. En algunas ocasiones y dependiendo de las necesidades del negocio, podría ser posible que necesitarás adquirir lectores, tablets, kioskos  o  algún otro dispositivo para obtener el mayor rendimiento a las funcionalidades que ofrece Goguest.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapseOne">¿Cuándo podré tener todo el sistema funcionando?</a></h4>
                            </div>
                            <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>En menos de 10 días podrás tener todo tu hotel o parque totalmente digitalizado y utilizando todas las soluciones contactless, cashless, control de accesos, afluencias, webapp para clientes, pre check-in, pedidos room service, reserva de servicios, control y préstamos de material, business intelligence (big data) y muchas más.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapseOne">¿Qué beneficios conseguiré en mi hotel?</a></h4>
                            </div>
                            <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                <p>Obtendrá beneficios en la rentabilidad, en los ingresos, en el ahorro de tiempos y de gastos, más seguridad junto a medidas anti covid, conocer los consumos de sus clientes además de su trazabilidad para planificar estrategias comerciales y la eliminación de robos y pérdidas. Una nueva manera de interactuar con los huéspedes.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapseOne">¿Necesitan los trabajadores tener un perfil más técnico?</a></h4>
                            </div>
                            <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>No, para poder utilizar todas las herramientas no se necesitan conocimientos técnicos. Recibirán una semana de formación presencial en su hotel o parque para conocer el funcionamiento de Goguest.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse13" aria-expanded="false" aria-controls="collapseOne">¿Cuento con soporte tras la integración de la plataforma?</a></h4>
                            </div>
                            <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Si, contará con soporte 24/7 sin ningún coste adicional.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">Soluciones contactless</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapseOne">¿Por qué necesito pagos cashless?</a></h4>
                            </div>
                            <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Nos dirigimos hacia una sociedad cashless, con mayor control y más facilidades tanto para el negocio como para los clientes. Los pagos cashless ofrecen rapidez, flexibilidad y seguridad, dando así una mejor experiencia al usuario.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse15" aria-expanded="false" aria-controls="collapseOne">¿Cómo funcionan los pagos cashless?</a></h4>
                            </div>
                            <div id="collapse15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                <p>Funciona con tecnología RFID y se utiliza para lograr la comunicación entre el wearable del cliente y los dispositivos que lo leen, obteniendo la información que se necesita.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapseOne">¿Qué es un wearable?</a></h4>
                            </div>
                            <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Un wearable es un pequeño dispositivo electrónico que se transporta fácilmente (Tecnología vestible), puede ser una una pulsera/brazalete, tarjeta, anillo, pegatina o casi cualquier objeto. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse17" aria-expanded="false" aria-controls="collapseOne">¿Cuántos métodos contactless ofrecéis?</a></h4>
                            </div>
                            <div id="collapse17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Cargo a habitación, pago mediante recarga previa, pagos por puntos o cortesías, compra y canje de packs y tokenización de la tarjeta bancaria.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapseOne">¿Puedo configurar límites de pago para mis huéspedes?</a></h4>
                            </div>
                            <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                <p>Sí,  podrás limitar de forma diaria o permanente las consumiciones realizadas con una cuenta. Se podrán aplicar los límites a todos los integrantes de la reserva o de forma individual o por estación.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse19" aria-expanded="false" aria-controls="collapseOne">¿Cómo va a cambiar mi negocio con las soluciones contactless?</a></h4>
                            </div>
                            <div id="collapse19" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Aumentarás la eficiencia de tu negocio y tus operativas, reducirás pérdidas y robos, aumentarás la seguridad de tus clientes, más facilidades y opciones para tus huéspedes, mejora de la higiene y protección para la salud de tus clientes y empleados.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">Control de accesos y afluencias</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapseOne">¿Por qué necesito control de accesos/afluencias?</a></h4>
                            </div>
                            <div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Controlar los accesos de manera digital, es además de eficiente, seguro. Podrás controlar tus premisas de forma sencilla. Sabrás quién entra dónde y cuándo, controlando todos los accesos y los aforos de las diferentes áreas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse21" aria-expanded="false" aria-controls="collapseOne">¿Cómo funciona el control de accesos en eventos?</a></h4>
                            </div>
                            <div id="collapse21" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                <div class="panel-body">
                                <p>El control de acceso se chequea con unos lectores que leen la pulsera de los usuarios. Desde los lectores se puede observar si tiene permiso para acceder al concierto, festival, camping del recinto, backstage, etc. según su entrada.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="false" aria-controls="collapseOne">¿Cómo funciona el control de accesos en hoteles y parques?</a></h4>
                            </div>
                            <div id="collapse22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Mediante unos lectores o tornos que leen el wearable (pulsera, tarjeta u otro objeto) se conceden o deniegan los permisos. Los permisos se controlan desde el panel general de Goguest donde hay diferentes opciones para habilitar accesos como: categoría de huésped, tipo de reserva, edad, a nivel individual, tipo de entrada, etc.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse23" aria-expanded="false" aria-controls="collapseOne">¿Se pueden dar accesos de forma puntual a una área del hotel?</a></h4>
                            </div>
                            <div id="collapse23" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Sí, en el caso de que el cliente no tenga previamente habilitado el acceso a un área determinada y desee acceder, entonces se podrá establecer un precio por acceso y hacer uso del wearable para realizar un pago cashless, ya sea cargo a habitación, toke, etc.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="false" aria-controls="collapseOne">¿Cómo va a cambiar mi negocio con el control de accesos?</a></h4>
                            </div>
                            <div id="collapse24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Aumentarás la seguridad de todo el negocio y tendrás un control absoluto de entradas y salidas. Podrás detectar cuáles son las zonas con alta demanda de tu negocio para posteriormente mejorar la operativa del lugar e incluso modificar la estrategia económica para aumentar los beneficios gracias a los datos recopilados (big data).</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="text_blue">Business Intelligence</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse25" aria-expanded="false" aria-controls="collapseOne">¿Qué significa Business Intelligence?</a></h4>
                            </div>
                            <div id="collapse25" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Son datos cuantitativos que obtienes de tus clientes y del negocio. Es decir, podrás saber cuáles son los productos más vendidos, el total de ventas por estación, los gustos y preferencias de consumo de tus clientes, a que hora se consume más productos y cuales son, además de saber que perfiles los consumen (edad, nacionalidad, etc).</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse26" aria-expanded="false" aria-controls="collapseOne">¿Cómo funciona?</a></h4>
                            </div>
                            <div id="collapse26" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Todos los POS están vinculados con la plataforma, tanto para hoteles y parques como para eventos, en la que se recopila toda la información de los movimientos del cliente en los dispositivos. Estos dispositivos están conectados a la red y transfieren los datos al servidor donde se gestionan.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse27" aria-expanded="false" aria-controls="collapseOne">¿Qué información proporciona?</a></h4>
                            </div>
                            <div id="collapse27" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Big data, datos cuantitativos de tus clientes y negocio, en forma de gráficas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse28" aria-expanded="false" aria-controls="collapseOne">¿Cómo obtengo estos datos?</a></h4>
                            </div>
                            <div id="collapse28" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>A través de un panel podrás visualizar los datos que sean de tu interés.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse29" aria-expanded="false" aria-controls="collapseOne">¿Cómo va a cambiar mi negocio aplicando business intelligence?</a></h4>
                            </div>
                            <div id="collapse29" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Con estos datos obtendrás información privilegiada sobre tu negocio y te ayudará en la toma de decisiones y en la implementación de nuevos productos o servicios. Aplicando adecuadamente esta información lograrás incrementar los ingresos y reducir gastos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">Control Interno</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse30" aria-expanded="false" aria-controls="collapseOne">¿Qué es control interno?</a></h4>
                            </div>
                            <div id="collapse30" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Con el sistema de control interno, el hotel o el parque, podrá tener un control exhaustivo de lo que presta a sus clientes (toallas, almohadas, tronas, carritos, etc).</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse31" aria-expanded="false" aria-controls="collapseOne">¿Cómo funciona el control interno en hoteles y parques?</a></h4>
                            </div>
                            <div id="collapse31" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Desde la plataforma Goguest para hoteles y parques se configura un catálogo con los materiales a disposición de los clientes. En los puntos donde se prestan estos materiales, se dispone de un dispositivo portátil o PC con la lista de los materiales que se pueden prestar. En estos puntos, se realiza la selección del material, la lectura de la pulsera y restas si el hotel realiza el préstamo o sumas si el cliente devuelve el material.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse32" aria-expanded="false" aria-controls="collapseOne">¿Cómo va a cambiar mi negocio con el control interno?</a></h4>
                            </div>
                            <div id="collapse32" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Su negocio verá reducido los gastos en reposición de material y en robos que se producen.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">Tokenización Bancaria</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse33" aria-expanded="false" aria-controls="collapseOne">¿Qué es la tokenización bancaria?</a></h4>
                            </div>
                            <div id="collapse33" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>La tokenización consiste en reemplazar los datos sensibles de una tarjeta bancaria por un código único llamado token, de esta manera no se exponen los datos reales de los clientes. Este token es irreversible y trabaja en una plataforma, en este caso nuestros sistemas.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse34" aria-expanded="false" aria-controls="collapseOne">¿Cómo funciona?</a></h4>
                            </div>
                            <div id="collapse34" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>La tarjeta bancaria cuenta con un número PAN, el usuario registra sus datos en nuestra plataforma y a continuación un servicio de proveedor de tokens (Almacen de tokens) asocia dicha información a un token con el que se pueden realizar las transacciones. </p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse35" aria-expanded="false" aria-controls="collapseOne">¿Qué beneficios tiene la tokenización bancaria?</a></h4>
                            </div>
                            <div id="collapse35" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>La tokenización elimina la duplicación de los datos personales de los usuarios, son irreversibles por lo que un tercero no puede hacer nada, mayor estándar de protección de datos y seguridad, comodidad e inmediatez en las transacciones.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse36" aria-expanded="false" aria-controls="collapseOne">¿Qué formas de tokenización ofrecéis?</a></h4>
                            </div>
                            <div id="collapse36" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Tokenización física, donde los wearables (pulseras, anillos, etc) se tokenizan en las premisas de recinto mediante un dispositivo verificado. Tokenización digital, donde el propio cliente accede a su área personal dentro de la webapp y realiza la tokenización por sí mismo online.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">Validación de entradas</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse37" aria-expanded="false" aria-controls="collapseOne">¿Cómo se realiza la validación de entradas?</a></h4>
                            </div>
                            <div id="collapse37" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Se realiza a través de un código asociado a la entrada que se vincula a la pulsera RFID. Tanto si se lleva impresa o en el móvil, la entrada quedará validada con un simple acercamiento del lector NFC al código de la misma.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse38" aria-expanded="false" aria-controls="collapseOne">¿Qué ventajas tiene? </a></h4>
                            </div>
                            <div id="collapse38" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>El sistema de validación de entradas es un sistema rápido e intuitivo que reduce los tiempos de espera y evita falsificaciones.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse39" aria-expanded="false" aria-controls="collapseOne">¿Se puede integrar con las ticketeras?</a></h4>
                            </div>
                            <div id="collapse39" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Sí, existe la posibilidad de integrarlo con las ticketeras actuales del evento.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <h2 class="text_blue">Goguest WebApp</h2><br>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse40" aria-expanded="false" aria-controls="collapseOne">¿Qué es una webapp y cuáles son sus ventajas?</a></h4>
                            </div>
                            <div id="collapse40" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>La aplicación Goguest es una webapp, una página web que se optimiza para que se utilice en los móviles como una app nativa. Se puede abrir desde cualquier navegador y no hay que descargar ninguna aplicación por parte del usuario.</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" >
                                <h4 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse41" aria-expanded="false" aria-controls="collapseOne">¿Qué opciones incluye la webapp de Goguest?</a></h4>
                            </div>
                            <div id="collapse41" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                <div class="panel-body">
                                <p>Pre Check-in, donde los usuarios podrán hacer un check-in online y así agilizar las esperas en recepción, es decir, cuando el huésped acuda al hotel, el tiempo en recepción será mínimo. 
                                    <br>Pedidos room service, donde el huésped podrá realizar sus pedidos sin necesidad de llamar por teléfono, en la webapp podrá ver todo el menú, seleccionar hora de entrega y pagar. 
                                    <br>La reserva de servicios, ofrece la posibilidad de que el huésped reserve sus actividades o servicios que ofrece el hotel en el momento que lo necesite.
                                    <br>Encuestas y cuestionarios, el huésped podrá rellenar los cuestionarios que precise el hotel y asociarlas a las diferentes ubicaciones.
                                    <br>Pagos mediante tokenización, si así lo desea el cliente, podrá tokenizar su tarjeta dentro de la propia aplicación de forma segura y en cualquier momento.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-15">
        <div class="container text_blue">
            <div class="row my-5 justify-content-center align-items-center" style="border: 9px solid grey;min-height: 301px;">
                <div class="col-md-7 relative">
                    <img class="mx-auto img_goguest" src="{{assetPath('images/p_goguest/Goguest-demo-CTA.svg')}}">
                </div>
                <div class="col-md-5 text-center">
                    <h4 class="text_blue mb-5">¿Te gustaría ver cómo tu negocio puede digitalizarse?</h4>
                    <a class="btn_blue">{{ lang == 'en' ? 'Book Demo': 'Reservar Demo' }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
