<div class="flex flex-col md:flex-row">
	<div class="w-full md:w-1/3">
		<img class="w-48 pr-8" src="{{page.review.logo}}" alt="">
		<p class="text-xl font-bold uppercase mt-8">
			{{page.review.name}}</p>
		<p class="text-lg mt-2">
			{{page.review.role}}
		</p>
	</div>
	<div class="w-full md:w-2/3 flex justify-end lg:ml-8 mt-8 md:mt-0">
		<blockquote>
			<p class="text-2xl font-header">{{page.review.content}}</p>
		</blockquote>
	</div>
</div>
